<head th:fragment="header">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Dashboard Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../vendors/bootstrap/dist/css/bootstrap.min.css" 
    th:href="@{vendors/bootstrap/dist/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{css/dashboard.css}" rel="stylesheet">
    
    
    <link th:href="@{vendors/DataTables/css/jquery.dataTables.min.css}" rel="stylesheet">
    <link th:href="@{vendors/DataTables/css/datatables.min.css}" rel="stylesheet">
    <link th:href="@{vendors/DataTables/css/buttons.dataTables.min.css}" rel="stylesheet">
    
  </head>

  
  
  
