<!DOCTYPE html>
<html>
  <head>
    <title th:text="${title}"></title>
    <link rel="stylesheet" type="text/css" href="dashboard.css">
    <link rel="stylesheet" type="text/css" href="css/dashboard.css">
    
    
        <link th:href="@{vendors/DataTables/css/jquery.dataTables.min.css}" rel="stylesheet">
    <link th:href="@{vendors/DataTables/css/datatables.min.css}" rel="stylesheet">
    <link th:href="@{vendors/DataTables/css/buttons.dataTables.min.css}" rel="stylesheet">
  </head>
  <body>
    ...
  </body>
</html>